<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 이 Mapper파일의 FullName(패키지명 + 파일이름) -> 여러 Mapper의 이름 중복 방지 ! -->
<mapper namespace="kr.bit.mybatis.MemberMapper">
  <!-- <select id="selectBlog" resultType="Blog">
    select * from Blog where id = #{id}
  </select> -->
  		<!--id:SQL문 식별자. resultType:MemberVO타입으로 묶는다는 것을 알려줌.(alias)  -->
  <select id="memberList" resultType="memberVO">
  	select * from member
  </select>
  <!--parameterType : DAO에서 보낸 VO객체 타입 설정  -->
  <insert id="memberInsert" parameterType="memberVO">
	insert into member(id, pass, name, age, email, phone)
	 values(
	 #{id},
	 #{pass},
	 #{name},
	 #{age},
	 #{email},
	 #{phone}
	 )
  </insert>
  
  <delete id="memberDelete" parameterType="Integer">
  	delete from member where num=#{num}
  </delete>
  
 															 <!--vo로 묶고.  -->
  <select id="memberContent" parameterType="Integer" resultType="memberVO">
    select * from member where num=#{num}
  </select>
  
  <update id="memberUpdate" parameterType="memberVO">
  	update member set age=#{age}, phone=#{phone}, email=#{email} where num=#{num}
  </update>
  
</mapper>